include README.md CHANGELOG.md LICENSE pyproject.toml PROJECT_REQUIREMENTS.md
recursive-include rf_votsch_climate_chamber *.py *.json *.yaml *.lock py.typed
recursive-include ai *.yaml *.lock *.md
recursive-include api *.yaml *.json
recursive-include config *.yaml *.json
recursive-include docs *.md
recursive-include examples *.robot *.yaml *.md
recursive-include guide *.md
recursive-include history *.md
recursive-include review *.md *.json *.csv
recursive-include robot_resources *.resource *.yaml
recursive-include tests *.py *.robot *.resource *.yaml *.json
recursive-include scripts *.py *.sh *.ps1 *.bat
